/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-inter), sans-serif;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" 400;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--clamp-width-cards);
  margin-top: 100px;
  margin-bottom: 101px;
  border: var(--border-cards);
  padding-top: clamp(7.5rem, 7.324rem + 0.75vw, 8rem);
  padding-right: clamp(1rem, -1.344rem + 10vw, 7.656rem);
  padding-bottom: clamp(7.5rem, 7.324rem + 0.75vw, 8rem);
  padding-left: clamp(1rem, -1.344rem + 10vw, 7.656rem);
  background-color: var(--header-background-color);
}

.header-tittle {
  min-height: 30px;
  font-family: var(--font-press-start), sans-serif;
  font-size: var(--header-text-clamp);
  line-height: var(--header-text-line-height);
}

.header-text {
  padding-top: 20px;
  font-family: var(--font-press-start), sans-serif;
  font-size: var(--header-subtitle-clamp);
  line-height: var(--header-text-line-height);
  text-transform: uppercase;
}

.cards {
  display: grid;
  grid-template-rows: auto auto auto auto;
  width: var(--clamp-width-cards);
  margin-bottom: 50px;
  border: var(--border-cards);
  background-color: var(--cards-background-color);
}

.cards:last-child {
  margin-bottom: 0;
}

.tittle-cards {
  padding: 0 10px;
  font-family: var(--font-inter);
  font-size: var(--tittle-text-cards-clamp);
  line-height: 27px;
  font-variation-settings: "wght" 715;
}

.text-cards {
  padding-bottom: 25px;
}

.paragraph {
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 26px;
  font-family: var(--font-inter);
  font-size: var(--tittle-text-cards-clamp);
  line-height: 21px;
}

.box {
  position: relative;
  padding-bottom: 23px;
}

.img-cards {
  width: var(--img-cards-clamp-width);
  height: var(--img-cards-clamp-height);
  border-top: var(--border-cards);
  border-bottom: var(--border-cards);
  object-fit: cover;
}

.img-cards-delight {
  filter: contrast(80%) hue-rotate(35deg);
}

.img-cards-method {
  filter: saturate(75%);
}

.img-cards-patience {
  filter: brightness(75%) sepia(25%);
}

.img-cards-freedom {
  filter: contrast(110%);
}

.img-cards-support {
  filter: opacity(85%) contrast(90%);
}

.img-cards-euphoria {
  filter: hue-rotate(25deg);
}

.img-cards-apathy {
  filter: blur(1px) brightness(80%);
}

.img-cards-maturity {
  filter: contrast(130%) saturate(70%);
}

.box-button-like {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding-right: 25px;
}

.button__text_heart {
  margin-right: 5px;
  border: 2px solid transparent;
  padding: 0;
  background-color: var(--cards-buttons-background-color);
  transition: border 0.3s ease;
  cursor: pointer;
}

.like-icon {
  padding: 0;
}

.button__text_heart:focus {
  outline: none;
}

.button__text_heart:focus-visible {
  border: 2px solid black;
}

.button__text_like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  border: 2px solid black;
  outline: none;
  background-color: var(--cards-buttons-background-color);
  cursor: pointer;
  position: relative;
}

.label {
  position: absolute;
  top: 29px;
  right: 25px;
  opacity: 50%;
  color: var(--label-color);
  font-family: var(--font-press-start), sans-serif;
  font-size: var(--button-text-cards-clamp);
  line-height: var(--header-text-line-height);
  text-shadow: 1px 1px 2px white;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px) {
  .label {
    text-stroke: 1px white;
  }
}

@supports not (text-stroke: 1px) {
  .label {
    text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white;
  }
}

.card__icon-button-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(19.125rem, 18.487rem + 2.72vw, 20.938rem);
  margin-top: 45px;
  margin-bottom: 100px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: var(--cards-buttons-background-color);
  cursor: pointer;
  position: relative;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.svg-floppy-small {
  width: 21px;
  height: 21px;
}

.button__text_save {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 9px;
}

.button__text {
  font-family: var(--font-press-start);
  font-size: var(--button-text-cards-clamp);
  line-height: 90%;
}

.dialog__text {
  margin-top: 2px;
  font-family: var(--font-press-start);
  font-size: var(--button-text-cards-clamp);
  line-height: 150%;
  text-align: start;
  text-transform: uppercase;
}

.dialog__text__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(16.313rem, 15.608rem + 3vw, 18.313rem);
  height: 38px;
  margin-top: 14px;
  margin-left: 30px;
  border: var(--border-cards);
  cursor: pointer;
  position: relative;
  outline: none;
  background-color: var(--cards-buttons-background-color);
  transition: box-shadow 0.3s ease;
}

.svg-floppy-big {
  width: 39px;
  height: 39px;
  margin-right: 20px;
  margin-left: 30px;
}

.card__icon-button-dialog {
  display: grid;
  grid-template-rows: auto auto;
  width: 349px;
  height: 187px;
  border: none;
  padding-inline: 0;
  padding-block: 0;
  background-color: var(--cards-buttons-background-color);
}

dialog {
  position: fixed;
  inset: 0;
  display: none;
  border: var(--border-cards);
  padding: 0;
}

dialog[open] {
  display: block;
}

dialog::backdrop {
  opacity: 75%;
  background-color: black;
}

.mini-box-dialog {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  padding-top: 11px;
}

@media (width <=375px) {
  .card__icon-button-dialog {
    width: 337px;
  }

  .box {
    padding-bottom: 21px;
  }

  .svg-floppy-big {
    margin-left: 38px;
  }

  .dialog__text__close {
    margin-left: 38px;
  }

  .tittle-cards {
    padding: 1px 10px;
    line-height: 25px;
  }
}

.card__like-button {
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button__text_like:focus {
  box-shadow: 2px 2px 0px black;
}

.card__icon-button-open:focus {
  box-shadow: 2px 2px 0px black;
}

.dialog__text__close:focus {
  box-shadow: 2px 2px 0px black;
}

.button__text_like::before,
.card__icon-button-open::before,
.dialog__text__close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cards-buttons-hover-background-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: center left;
}

.button__text_like:hover::before,
.card__icon-button-open:hover::before,
.dialog__text__close:hover::before {
  color: white;
  background-color: white;
  transform: scaleX(1);
  mix-blend-mode: difference;
}

.like-icon.is-liked .sparks {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  animation: sparkle-animation 0.3s ease-in 0.3s;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--core-color-hover);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-color-hover);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s forwards;
}

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}
